{{#section 'js'}}
 
     
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
      });
    </script>
    
 {{/section}}

  <div class="d-flex" id="wrapper">

        <!-- Sidebar -->
        <div class="bg-dark border-right" id="sidebar-wrapper">
          <div class="sidebar-heading"><i class="fa fa-dashboard"></i> Dashboard </div>
          <div class="list-group list-group-flush">
            <a href="submitPost" class="list-group-item list-group-item-action bg-dark">Submit Post</a>
            <a href="postMagWriter" class="list-group-item list-group-item-action bg-dark">Post Management</a>
            
          </div>
        </div>
        <!-- /#sidebar-wrapper -->
    
        <!--Content -->
        <h2>Content in here</h2>
    
      </div>
      <!-- /#wrapper -->   