{{#section 'css'}}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.3/css/fileinput.min.css" media="all" rel="stylesheet" type="text/css" />
{{/section}}

{{#section 'js'}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.3/js/fileinput.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.3/themes/fa/theme.min.js"></script>

     <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
      });
    </script>
     <script>
        $(function () {
            $('#fuMain').fileinput({
            theme: 'fa',
            dropZoneEnabled: false,
            allowedFileExtensions: ['png', 'jpg', 'gif'],
            uploadUrl: '/upload',
            uploadAsync: false,
            });
        })
</script>
    <script>
        $(document).ready(function(){
            $("#category").on("change",function(){
                var cateID=$("#category option:selected").val();               
               
            })
        })
    </script>
     <script src="https://cdn.tiny.cloud/1/xt1n4483v6cuvxghuuuhrpeslagu8b8vxcbzyppl6xz0sqqu/tinymce/5/tinymce.min.js"></script>
    <script>
        tinymce.init({selector:'textarea',height:600,
                            plugins: 'paste image link autolink lists table media',
      });
    </script>
 {{/section}}


  <div class="d-flex" id="wrapper">

        <!-- Sidebar -->
        <div class="bg-dark border-right" id="sidebar-wrapper">
          <div class="sidebar-heading"><i class="fa fa-dashboard"></i> Dashboard </div>
          <div class="list-group list-group-flush">
            <a href="submitPost" class="list-group-item list-group-item-action bg-dark active">Submit Post</a>
            <a href="postMagWriter" class="list-group-item list-group-item-action bg-dark">Post Management</a>
            
          </div>
        </div>
        <!-- /#sidebar-wrapper -->
    
        <!--Content -->
              <div id="page-content-wrapper">
    
          <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <button class="btn tag" id="menu-toggle"><i class="fa fa-navicon"></i></button>
    
            <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button> -->

          </nav>
    
          <div class="container-fluid">
               <!-- ##### Video Submit Area Start ##### -->
                <div class="video-submit-area">
                    <div class="container">
                        <div class="row justify-content-center mt-30">
                            <div class="col-12 col-lg-8">
                                <!-- Video Submit Content -->
                                <div class="video-submit-content mb-50 p-30 bg-white box-shadow">
                                    <!-- Section Title -->
                                    <div class="section-heading">
                                        <h5>Submit your post</h5>
                                    </div>
            
                                    <div class="video-info mt-30">
                                        <form action="#" method="post">
                                              <label for="upload-file">Upload Thumbnail</label></br>
                                                                                        <div class="card-body">
                                                <div class="form-group">
                                                    <div class="file-loading">
                                                    <input id="fuMain" name="fuMain" type="file">
                                                    </div>
                                                </div>
                                                </div>
                                                <div class="card-footer text-right">
                                     
                                                </div>
                                            <div class="form-group">
                                                <label for="upload-file">Post Title</label>
                                                <input id="title"type="text" class="form-control" name="video-name">
                                            </div>
                                            <textarea>Next, use our Get Started docs to setup Tiny!</textarea>
                                            <div class="form-group">
                                                <label for="upload-file">Catagory</label>
                                                 
                                                <select  id="category" name="post-catagory" class="form-control">
                                                   {{#each lcTopics}}
                                                    <option value="{{IDCate_Child}}">{{Name_parentscate}}/{{Name_childcate}}</option>                                                   
                                                   {{/each}}
                                                </select>
                                                 
                                            </div>

                                            <div class="form-group">
                                                <label for="upload-file">Type</label>
                                                 
                                                <select  id="typePost" name="post-catagory" class="form-control">
                                                   
                                                    <option value="0">Normal</option>                                                   
                                                    <option value="1">Vip</option>                                                   
                                                </select>
                                                 
                                            </div>
                                    
                                      
                <button type="submit" class="btn mag-btn mt-30 "><i class="fa fa-cloud-upload"></i> Upload your post</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        <!-- ##### Video Submit Area End ##### -->
         </div>
    </div>
    
      </div>
      <!-- /#wrapper -->   