{{#section 'css'}}
<link rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">
{{/section}}
 {{#section 'js'}}
 <script
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
  <script>
      $(function () {

    $('#txtDOB').datetimepicker({
      format: 'd/m/Y',
      timepicker: false,
      mask: true,
    });
      });
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
      });
    </script>
    
 {{/section}}
 

     

    <div class="d-flex" id="wrapper">

            <!-- Sidebar -->
            <div class="bg-dark border-right" id="sidebar-wrapper">
              <div class="sidebar-heading"><i class="fa fa-dashboard"></i> Dashboard </div>
              <div class="list-group list-group-flush">
                <a href="EditProfile" class="list-group-item list-group-item-action bg-dark">Personal Information</a>
                <a href="changePassword" class="list-group-item list-group-item-action bg-dark">Change Password</a>
                
              </div>
            </div>
            <!-- /#sidebar-wrapper -->
        
            <!-- Page Content -->
            <div id="page-content-wrapper">
        
              <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                <button class="btn tag" id="menu-toggle"><i class="fa fa-navicon"></i></button>
        
                <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button> -->

              </nav>
        
              <div class="container-fluid">
                    <div class="w3layoutscontaineragileits" style="margin-right: 20%;width: 50%">
                            <div class="section-heading">
                                 <h5 class="header-area">Account Information</h5>
                            </div>
                            
                            <form action="#" method="post">
                                
                                <div class="form-group">
                                    <label style="float: left;">Username: </label>
                                    <input  type="text" class="form-control" id="exampleUsername" placeholder="Giang">
                                </div>
                               <div class="form-group">
                                    <label for="txtDOB">Date of birth</label>
                                    <input type="text" class="form-control" id="txtDOB" name="dob">
                                </div>
                    
                                
                                
                               
                            </form>
                                   <hr>
                           <form action="#" method="post">
                                <div class="section-heading">
                                    <h5 class="header-area">Contact Information</h5>
                                </div>
                                
                                <div class="form-group">
                                     <label style="float: left;">Email: </label>
                                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="abc@example.com">
                                </div>
                                <div class="form-group">
                                     <label style="float: left;">Phone: </label>
                                    <input type="text" class="form-control" id="exampleInputPhone" placeholder="0123456789">
                                </div>
                                <div class="col text-center">
                                      <a href="index.html" class="btn load-more"><span></span>SAVE</a>
                                </div>
                            </form>
                            </div>
                  



              </div>
            </div>
            <!-- /#page-content-wrapper -->
        
          </div>
          <!-- /#wrapper -->   
   
