 <section class="breadcrumb-area bg-img bg-overlay" style="background-image: url(img/bg-img/Vote_bg.png);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcrumb-content">
                        {{#each this.topics}}
                        <h2>{{Name_childcate}}</h2>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END HEADER -->
    <!-- <BREADCRUMB -->
    <div class="mag-breadcrumb py-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            {{#each this.topics}}
                            <li class="breadcrumb-item"><a href="/><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
                            <li class="breadcrumb-item"><a href="/{{Name_parentscate}}">{{Name_parentscate}}</a></li>
                            <li class="breadcrumb-item active" aria-current="page">{{Name_childcate}}</li>
                            {{/each}}
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <!-- END BREADCRUMB -->
<!--main content-->
<div class="archive-post-area">

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-xl-12">
                    <div class="archive-posts-area bg-white p-50 mb-30 box-shadow">
                        <!-- Trending Now Posts Area -->
                        <div class="trending-now-posts mb-30">
                            <!-- Section Title -->
                            <div class="section-heading">
                                <h5>TRENDING NOW</h5>
                            </div>


                            <div class="trending-post-slides owl-carousel">
                                <!-- Single Trending Post -->
                                <div class="single-trending-post">
                                    <img src="img/bg-img/QuachThiLan.png" alt="">
                                    <div class="post-content">
                                        <a href="#" class="post-cata">Sports</a>
                                        <a href="video-post.html" class="post-title">Vietnam’s Lan wins Asian athletics gold</a>
                                    </div>
                                </div>

                                <!-- Single Trending Post -->
                                <div class="single-trending-post">
                                    <img src="img/bg-img/f1Vietnam.png" alt="">
                                    <div class="post-content">
                                        <a href="#" class="post-cata">Sports</a>
                                        <a href="video-post.html" class="post-title">F1 legend David Coulthard burns the tires in Hanoi</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="section-heading">
                            <h5>LATEST NEWS</h5>
                        </div>

                        <!-- Single Catagory Post -->


                        <!-- Single Catagory Post -->
                        <div class="single-catagory-post d-flex flex-wrap">
                            <!-- Thumbnail -->
                            <div class="post-thumbnail bg-img" style="background-image: url(img/bg-img/QuachThiLan.png);">

                            </div>

                            <!-- Post Contetnt -->
                            <div class="post-content">
                                <div class="post-meta">
                                    <a href="#">MAY 8, 2018</a>
                                    <a href="archive.html">Sports</a>
                                </div>
                                <a href="video-post.html" class="post-title">Vietnam’s Lan wins Asian athletics gold</a>
                                <!-- Post Meta -->
                                <div class="post-meta-2">
                                    <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 1034</a>
                                    <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 834</a>
                                    <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 234</a>
                                </div>
                                <p>Quach Thi Lan won the gold medal in the women’s 400 meters hurdles at the Asian Athletics Championships in Qatar on Monday night.</p>
                            </div>
                        </div>

                        <!-- Single Catagory Post -->
                        <div class="single-catagory-post d-flex flex-wrap">
                            <!-- Thumbnail -->
                            <div class="post-thumbnail bg-img" style="background-image: url(img/bg-img/f1Vietnam.png);">
                            </div>

                            <!-- Post Contetnt -->
                            <div class="post-content">
                                <div class="post-meta">
                                    <a href="#">MAY 8, 2018</a>
                                    <a href="archive.html">Sports</a>
                                </div>
                                <a href="video-post.html" class="post-title">F1 legend David Coulthard burns the tires in Hanoi</a>
                                <!-- Post Meta -->
                                <div class="post-meta-2">
                                    <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 1034</a>
                                    <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 834</a>
                                    <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 234</a>
                                </div>
                                <p>The F1 Vietnam Grand Prix heated up in Hanoi with David Coulthard starring in a kick-off event Saturday night.</p>
                            </div>
                        </div>
                        <div class="single-catagory-post d-flex flex-wrap">
                            <!-- Thumbnail -->
                            <div class="post-thumbnail bg-img" style="background-image: url(img/bg-img/mu.jpg);">
                            </div>

                            <!-- Post Contetnt -->
                            <div class="post-content">
                                <div class="post-meta">
                                    <a href="#">MAY 8, 2018</a>
                                    <a href="archive.html">Sports</a>
                                </div>
                                <a href="video-post.html" class="post-title">Moyes: United playing for Manchester pride</a>
                                <!-- Post Meta -->
                                <div class="post-meta-2">
                                    <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 1034</a>
                                    <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 834</a>
                                    <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 234</a>
                                </div>
                                <p>Former Man Utd manager says Red Devils must take fast-paced attacking approach against City in Manchester derby</p>
                            </div>
                        </div>

                        <!-- Pagination -->
                        <nav>
                            <ul class="pagination">
                                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#"><i class="ti-angle-right"></i></a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>