    <footer class="footer-area">
        <div class="container">
            <div class="row">
                <!-- Footer Widget Area -->

                    <div class="footer-widget text-center">
                        <!-- Logo -->
                        <a href="index.html" class="foo-logo"><img src="img/core-img/light_logo.png" alt=""></a>
                        <p style="color: white;">This is the product created by our team. It is a project of web application development.</p>
                        <div class="footer-social-info">
                            <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
                            <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                            <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>


            </div>
        </div>

        <!-- Copywrite Area -->
        <div class="copywrite-area">
            <div class="container">
                <div class="row">
                    <!-- Copywrite Text -->
                    <div class="col-12 col-sm-6">
                        <p class="copywrite-text">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;
                            <script>
                                document.write(new Date().getFullYear());
                            </script> All rights reserved | This website is made with by<br/> <a href="https://www.facebook.com/dungle2912" target="_blank">Quốc Dũng</a><a href="https://www.facebook.com/profile.php?id=100008355516151"
                                target="_blank"> , Hoàng Giang</a> <a href="https://www.facebook.com/hd.vux98" target="_blank">, Hoàng Dương</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                    <div class="col-12 col-sm-6">
                        <nav class="footer-nav">
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="#">Privacy</a></li>
                                <li><a href="#">Advertisement</a></li>
                                <li><a href="contact.html">Contact Us</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </footer>